<div class="talent-path">
    <!--path name-->
    <div class="fontOpenSansSemiBold talent-path__name">
        {{name}}
    </div>
    <!--path-->
    <div class="talent-path__container" *ngFor="let talentNode of talentNodes; last as isLast">
        <app-talent-node [talentNode]="talentNode"></app-talent-node>
        <div *ngIf="!isLast" [ngClass]="{'talent-path__link-deactivated': !isLinkActive(talentNode), 'talent-path__link-activated': isLinkActive(talentNode)}"></div>
    </div>
</div>
