@import "../../../variables";

.talent-path {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
}

.talent-path__name {
    font-size: 13px;
    color: $primary-text-color;
    padding-right: 44px;
}

.talent-path__container {
    display: flex;
    align-items: center;
}

.talent-path__link-deactivated {
    //margin-left: 6px;
    //margin-right: 6px;
    background-color: rgba(34, 34, 34, 0.5);
    width: 85px;
    height: 12px;
    border-top: 1px solid rgba(85, 85, 85, 0.2);
    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
}

.talent-path__link-activated {
    //margin-left: 6px;
    //margin-right: 6px;
    background-color: $secondary-color;
    width: 85px;
    height: 12px;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
}
