<div class="footer">
    <div class="footer__details">
        <div class="footer__navigation">
            <div *ngFor="let navOption of navOptions; last as isLast">
                <span class="footer__detailsFont fontOpenSans">{{navOption.displayName}}</span>
                <!--Not sure if the pipe was a font pipe or something custom, i just used pipe for simplicity.-->
                <span class="footer__detailsFont fontOpenSans" *ngIf="!isLast">|</span>
            </div>
        </div>
        <span class="footer__detailsSubFont fontOpenSans">
            Curse Front-End Design Challenge - Copyright 2017
        </span>
    </div>
    <app-social-media class="footer__socialMedia"></app-social-media>
</div>
