@import "../../../variables";

.footer {
    height: 100%;
    width: 100%;
    border-top: 1px solid $primary-border;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
}

.footer__details {
    position: absolute;
    // Measured and estimated from the requirements
    left: 15px;
}

.footer__navigation {
    display: flex;
}

.footer__socialMedia {
    position: absolute;
    // Measured and estimated from the requirements
    right: 15px;
}

.footer__detailsFont {
    // Measured and estimated from the requirements
    padding-left: 3px;
    padding-right: 3px;
    // Measured and estimated from the requirements
    font-size: 14px;
    // Assumed color from requirements.
    color: $primary-text-color;
}

.footer__detailsSubFont {
    // Estimated from the requirements
    font-size: 12px;
    // Not sure what the color was, for consistency sake, i assumed it was the #bababa color.
    color: $details-text-color;
}
