@import "../../../variables";

.news-article__body {
    text-indent: 0;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    white-space: pre-wrap;
    font-size: 14px;
    color: $secondary-text-color;
}
