<div class="news-preview">
    <div class="news-preview__header">
        <div class="news-preview__title">
            <span class="news-preview__titleText fontOpenSansSemiBold">{{title}}</span>
        </div>
        <div class="news-preview__userTime fontOpenSans news-preview__userTimeText">
            <span>by </span><span class="news-preview__userName">{{author}}</span><span> at </span><span>{{time | date: 'shortTime'}}</span>
        </div>
    </div>
    <div class="news-preview__content">
        <div class="news-article__body">
            <div class="fontOpenSans" [innerHTML]="body"></div>
        </div>
    </div>
</div>
