<div class="talent-calculator">
    <!--header-->
    <div class="talent-calculator__header fontOpenSansSemiBold talent-calculator__title">
        TitanStar Legends - {{talentTreeName}} Loadout Talent Calculator 9000
    </div>
    <!--body-->
    <div class="talent-calculator__body">
        <!--talent paths-->
        <!--pad 16px left and right-->
        <!--670width-->
        <div class="talent-calculator__talentPaths">
            <div *ngFor="let talentPath of talentPaths; last as isLast">
                <app-talent-path [talentPath]="talentPath"></app-talent-path>
                <!--divides the paths with the estimated distance from the requirements-->
                <div *ngIf="!isLast" class="talent-calculator__pathDivider"></div>
            </div>
        </div>
        <!--point pool-->
        <!--296 width no pad-->
        <div class="talent-calculator__pointPoolContainer">
            <div class="talent-calculator__pointPool">
                <div class="fontOpenSans talent-calculator__pointTotals">
                    {{totalPointsSpent}} / {{totalPointsAvailable}}
                </div>
                <div class="fontOpenSans talent-calculator__pointsLabel">
                    Points Spent
                </div>
            </div>
        </div>
    </div>
</div>
