@import "../../../variables";

.talent-calculator {
    // Estimated color from requirements.
    border: 1px solid $secondary-color;
    width: 100%;
    // Wasn't clear how you wanted this to behave with different screen sizes. So, i am just going to make it work.
    background-image: url("../../../assets/talent-calc-bg.png");
    background-size: cover;
}

.talent-calculator__header {
    // given by requirements
    width: 965px;
    height: 46px;
    background-color: $secondary-color;
    // Determined from requirements (1000 - 965) / 2
    // Dont like halfs, but wanted to be accurate.
    margin-left: 17.5px;
    margin-right: 17.5px;
    // Measured from requirements.
    margin-top: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.talent-calculator__title {
    font-size: 25px;
    color: $primary-text-color;
}

// Really wanted to make this section a lot more ui responsive. But for the sake of time, i just defined a lot of
// these sizes. Would have been fun to make this look better on mobile.
.talent-calculator__body {
    display: flex;
    width: 100%;
}

.talent-calculator__talentPaths {
    // Measured and estimated from requirements.
    padding: 50px 16px;
    width: 670px;
}

.talent-calculator__pointPoolContainer {
    // Measured and estimated from requirements.
    padding: 50px 16px;
    width: 296px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.talent-calculator__pointPool {
    width: 175px;
    height: 89px;
    border: 1px solid rgba(51, 51, 51, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.talent-calculator__pointPoolMask {

}

.talent-calculator__pointTotals {
    font-size: 23px;
    color: $primary-text-color;
}

.talent-calculator__pointsLabel {
    font-size: 23px;
    color: $accent-color;
}

.talent-calculator__pathDivider {
    height: 18.5px;
    width: 100%;
}
