@import "../variables";

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.app__container {
    // dont really agree with setting a static width, but requirements... whatcha gonna do. lol
    width: 1000px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
}

.app__body {
    flex: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.app__header {
    height: 184px;
    padding-bottom: 4px;
}

.app__headerContent {
    // This is the height of the logo.
    height: 48px;
    // This is the padding from the top of the page in the requirements.
    padding-top: 55px;
    position: relative;
    // The social and search seemed to be centered vertically in the requirements.
    display: flex;
    align-items: center;
}

.app__footer {
    height: 68px;
}

.app__logo {
    position: absolute;
    left: 0;
}

.app__headerRight {
    position: absolute;
    right: 0;
    // Height of the given social media images.
    height: 27px;
    display: flex;
    align-items: center;
}

.app__search {
    // Measured from the requirements.
    margin-left: 10px;
}

.app__navigation {
    // Measured from the requirements.
    padding-top: 21px;
}


// Padding between components.
// this was not given. The padding between components on the page was also not given.
// I used gimp to get the padding between components and the height from the top of the page to the first component
// then subtracted the padding between the components on the page and got the height of the header component.
// This also gave me the padding between all the major components = 8px.
