<div class="app">
    <div class="app__container">
        <div class="app__header">
            <!--header-->
            <div class="app__headerContent">
                <!--logo-->
                <a routerLink=""><img class="app__logo" src="../assets/logo.png"></a>
                <!--right side-->
                <div class="app__headerRight">
                    <!--social media-->
                    <app-social-media class="fillParentHeight"></app-social-media>
                    <!--search-->
                    <app-search class="app__search fillParentHeight"></app-search>
                </div>
            </div>
            <div class="app__navigation">
                <app-navigation></app-navigation>
            </div>
        </div>
        <div class="app__body">
            <router-outlet></router-outlet>
        </div>
        <app-footer class="app__footer"></app-footer>
    </div>
</div>

