@import "../../../variables";

.talent-node {
}

.talent-node__border-unselected {
    margin: 5px;
    box-shadow:
        0 0 0 1px hsl(0, 0%, 33%),
        0 0 0 4px hsl(0, 0%, 27%),
        0 0 0 5px hsl(0, 0%, 33%)
}

.talent-node__border-selected {
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, $accent-color 0%,$accent-color 60%, #1b3d56 61%, $accent-color 100%);
    border-image-slice: 1;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.3);
}
