@import "../../../variables";
@import "../../../styles";

.news-preview {
    // Estimated color from requirements.
    border-left: 1px solid $secondary-color;
    border-bottom: 1px solid $secondary-color;
    border-right: 1px solid $secondary-color;
}

.news-preview__header {
    height: 40px;
    width: 100%;
    border-top: 1px solid $primary-border;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-preview__title {
    // Measured from the requirements.
    padding-left: 18px;
}

.news-preview__titleText {
    color: $primary-text-color;
    font-size: 20px;
}

.news-preview__userTimeText {
    color: $details-text-color;
    font-size: 12px;
}

.news-preview__userName {
    color: $accent-color;
}

.news-preview__userTime {
    // Measured from the requirements.
    padding-right: 18px;
}

.news-preview__readMoreButton {
    @extend .titanStarLegendsButton;
    position: absolute;
    // Measured from the requirements.
    bottom: 14px;
    right: 16px;
    width: 99px;
    height: 28px;
}

.news-preview__content {
    // Estimated from measuring requirements in gimp.
    width: 100%;
    // Wasn't clear how you wanted this component to behave with varying size details of an article.
    // So, i just made the bg image cover for now.
    background-image: url("../../../assets/news-bg.png");
    background-size: cover;
}

.news-preview__body {
    text-indent: 0;
    padding-left: 16px;
    padding-right: 16px;
    overflow: hidden;
    max-height: 130px;
    white-space: normal;
    font-size: 14px;
    color: $secondary-text-color;
}

.news-preview__footer {
    position: relative;
    height: 60px;
    width: 100%;
}
