@import "../../../variables";
@import "../../../styles";

.search {
    // This was measured from the requirements
    width: 274px;
}

.search__input {
    // this section is to make the input box fit inside with the margins and padding
    box-sizing: border-box;
    height: 100%;
    border: 1px solid #ccc;
    background-color: #eee;

    // Measured from the requirements.
    width: 200px;
    font-size: 13px;
    border-radius: 3px;
    // Measured from the requirements.
    padding: 5px;
}

.search__button {
    @extend .titanStarLegendsButton;
    // Measured from the requirements.
    width: 69px;
    height: 100%;
}
