<div class="search fillParentHeight">
    <input class="search__input fontOpenSansSemiBold fillParentHeight" type="text" placeholder="Search">
    <button class="search__button fontOpenSansSemiBold">Search</button>
</div>
