@import "../../../variables";

.social-media {
    display: flex;
    align-items: center;
}

.social-media__image {
    background-color: $accent-color;
    // estimated based on requirements
    border-radius: 3px;
    // the size of the image is 27, size of the padding is 7, 7/2 = 3.5
    // i dont like using half pixels, but i had to use them to get the 7 pixel padding between the social media images.
    margin-left: 3.5px;
    margin-right: 3.5px;
}
