<div class="social-media">
    <!--easter egg, shameless plugging for my streaming!! =P-->
    <a href="https://twitter.com/prolinkgaming" target="_blank">
        <img class="social-media__image" src="../../../assets/twitter.png">
    </a>
    <!--easter egg, i dont use facebook yet... =(-->
    <img class="social-media__image" src="../../../assets/facebook.png">
    <!--easter egg, shameless plugging for my streaming!! =P-->
    <a href="https://www.youtube.com/channel/UCkwuhphKCMZPloaMPeo-OIA" target="_blank">
        <img class="social-media__image" src="../../../assets/youtube.png">
    </a>
</div>

