/* You can add global styles to this file, and also import other style files */

@import "./variables";

body {
    // Did not know the actual color as it was not specified in the requirements,
    // used gimp to color dip and averaged.
    background-color: #0a0f13;
    margin: 0;
}

// Had to add this to make anchors center content too.
a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fillParentHeight {
    height: 100%;
}

.fontOpenSansSemiBold {
    font-family: Open Sans, serif;
    font-weight: 600;
}

.fontOpenSans {
    font-family: Open Sans, serif;
}

.titanStarLegendsButton {
    background-color: $accent-color;
    border: none;
    color: $primary-text-color;
    font-size: 13px;
    border-radius: 3px;
}
