// it appeared the colors for the social media backgrounds were the same as the logo accent.
// So, i pulled the color from the logo and used it for the accent color.
$accent-color: #659acc;

// These were given in the requirements.
$primary-text-color: #ffffff;
$secondary-text-color: #cfcfcf;
$details-text-color: #bababa;

$secondary-color: #222222;

$primary-border: #333333;
