<div class="navigation">
    <div *ngFor="let navButton of navButtons" class="navigation__buttonContainer">
        <!--Button-->
        <button class="navigation__button" *ngIf="!navButton.subNavigation || navButton.subNavigation.length <= 0">
            <img [src]="navButton.imagePath">
            <span class="fontOpenSans">{{navButton.displayName}}</span>
        </button>
        <!--Dropdown-->
        <div class="navigation__dropdown" *ngIf="navButton.subNavigation && navButton.subNavigation.length > 0">
            <div class="navigation__button">
                <img [src]="navButton.imagePath">
                <div>
                    <span class="fontOpenSans">{{navButton.displayName}}</span>
                    <!--Was not given the image for the arrow, so i made one from the requirements-->
                    <img src="../../../assets/arrow_down.png">
                </div>
            </div>
            <!--Dropdown content-->
            <div class="navigation__dropdownContent">
                <div *ngFor="let subNavItem of navButton.subNavigation; last as isLast">
                    <div class="navigation__dropdownItem">
                        <span class="fontOpenSans">{{subNavItem}}</span>
                    </div>
                    <!--Divider-->
                    <div *ngIf="!isLast" class="navigation__dropdownContentDivider"></div>
                </div>
            </div>
        </div>
        <!--Divider for the buttons-->
        <div class="navigation__buttonDivider"></div>
    </div>
</div>
<!--The second border below the navigation bar.-->
<div class="navigation__secondBorder"></div>
