@import "../../../variables";

.navigation {
    // Total height given in requirements minus the extra borders.
    height: 54px;
    background-color: $secondary-color;
    width: 100%;
    // Color pulled from requirements using gimp and estimated.
    border-top: 1px solid $primary-border;
    // Color pulled from requirements using gimp and estimated.
    border-bottom: 1px solid $primary-border;
    display: flex;
}

.navigation__button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    // Measured from requirements.
    padding-left: 12px;
    padding-right: 12px;
}

.navigation__dropdownContent {
    display: none;
    position: absolute;
    background-color: #333333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.navigation__dropdownItem {
    // Measured from requirements.
    padding: 5px 12px;
}

.navigation__dropdownContentDivider {
    // Measured from requirements.
    height: 1px;
    width: 100%;
    // Color pulled from requirements using gimp and estimated.
    background-color: #222222;
}

.navigation__dropdown:hover .navigation__dropdownContent {
    display: block;
}

.navigation__buttonContainer:hover {
    // Color pulled from requirements using gimp and estimated.
    background-color: #1a1a1a;
}

.navigation__buttonContainer {
    display: flex;
}

.navigation__buttonContainer, span {
    font-size: 14px;
    // The color for this font in the requirements does not seem to match the color stated in the requirements.
    // Seems washed out. Probably lost through compression of the image. Or there is a mask over the bar or something.
    color: $primary-text-color;
    //color: $primary-text-color;
}

.navigation__buttonDivider {
    // Color pulled from requirements using gimp and estimated.
    background-color: #2f3130;
    height: 100%;
    width: 1px;
    // Color pulled from requirements using gimp and estimated.
    border-right: 1px solid #191a1c;
}

.navigation__secondBorder {
    // Measured from requirements.
    height: 4px;
    width: 100%;
    // Color pulled from requirements using gimp and estimated.
    background-color: #2a394c;
}
